.slideshow{
 height:600px;



  img{
    display:none;
    position:absolute;
    top:150px;
    left:30%;
    border:8px solid grey;
  }
}
.slideshow-buttons{

  button{
    position: relative;
    padding:15px 32px;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 25px;
    margin-right:100px;
    margin-top: 100px;

  }
  button:hover{
    opacity: .5;
  }
}
body{
  text-align: center!important;
  background-color:  #ffddcc;
}
